@use '_variables.scss' as *;
@use '_header.scss' as *;
@use '_footer.scss' as *;
@use '_placeholders.scss' as *;




@media screen and (max-width:749px) {
    
    body {
        background-color: $background_color_primary;
        font-family: "Inter" ,sans-serif;
        margin:0;
    }
    
    a {
        text-decoration: none;
    }

    h1 {
        font-weight: 300;
        font-size:9vw;
        text-align: center;
    }

    h2 {
        text-align: center;
        font-size: 5vw;
        font-weight: 400;
    }

    
    
    h4 {
        @include  paragraphe($font-size:1em, $font-weight: 500, $line-height: 0.5em);
        text-align: center;
        margin-top: 15px;
    }

    .nav__flexLogo {
        @include flex-center(center, normal);
         font-family: "Inspiration";
         font-size: 2.2em;
         gap: 20px;
         svg {
             max-width:80px;
             max-height:80px;
         }
     }

     .nav__flexLink{
        display: none;
     
    }
    
    .nav__button {

        display: none;  
             
    }

    .nav__flex {
        @include flex-center(center, space-between);
        height: 80px;
        padding: 0 1% 0 2%;
        border:solid transparent;
        box-shadow:5px 12px 50px 9px rgba(0,0,0,0.1);
    }
    .nav__burger {
     
     width: 15%;
 
    }


    .header__flex {
        @include flex-center(center, center, $wrap: wrap);
        margin: 50px 100px ;

        img {
            width: 400px;
            //margin-top: 100px;
            
        }
       
    }

    .header__flexText {
        @include flex-center(center, normal,$direction: column);
        gap:30px;
        
        strong {
            font-weight: 700;
        }
        p {
            font-size: 4vw;
            opacity: 0.8;
            margin: 0 3% 20px 0;
            text-align: center;
        } 

        
        
    }
    .header__h1-gradientOne {
        @include text-gradient(#de4396, #0d1c9f69,to bottom);
        font-weight: 700;
    }
    
    .header__h1-gradientTwo {
        @include text-gradient($color1: #693ebad8,$color2: #d05a99cf,$direction: to top right);
        font-weight: 800;
    }   
    
    .header__button {
        @include button(15px, 30px);
        font-size: 1em;
    }
    
    //section carrouselOne
    
    
    .main__carrouselOne{
        //@include box(100%, 610px,$border_primary_color, $border-radius: 0);
        background-color: $background_color_tertiary;
        border: solid 1px $border_primary_color;
        margin-top: 50px;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
        h2 {
            padding-top: 25px;
            //text-align: center;
        }
     
          
    }
    
    .main__carrouselOne-flexOne {
        @include flex-center(normal, center);
        gap: 20px;
        margin: 20px;
    }
    
    .main__carrouselOne-flexTwo {
        @include flex-center(flex-start, center,column,$wrap: no wrap);
        @include box(333px, 287px,$border-size:2px);
        background-color: #fafafa;
        margin: 10px;
        box-shadow: 0px 0px 27px -8px rgba(0,0,0,0.1);
        padding: 20px;
        cursor:pointer;
        img {
            width: 30px;
            border:solid;
            border-color:rgba(97, 4, 118, 0.498);
            border-radius : 100%;
            border-width: 1.5px;
            padding: 10px; 
            margin-bottom: 10px;   
        }
    
        p {
            @include paragraphe($font-size:3.5vw);
        }
    
        h3 {
            color:$font_color_dark_gray;
            font-size: 4vw;
            margin: 20px 0px;
        }
    }
    
    
    
    .main__carrouselOne-flexSlider {
        display: none;
        @include flex-center(center, space-evenly);
        margin-top: 30px;
        img {
            display: none;
        }
    }
    
    .main__carrouselOne-node {
        display: none;
        margin: 0 10% 0 33%;   
    }
    
    
    
    //section articleOne
    
    
    
    
    .main__articleOne-flexOne {
        @include flex-center(center,$wrap: wrap, $justify:space-evenly);
        margin: 100px 0; 
        img:hover {   
            opacity:0.7;
        }  
        img {   
            width: 80%;
            margin:30px;
        } 
        div {
            img {
                width: 10%;
            }
        } 
    }
    
    .main__articleOne-flexText {
        @include flex-center(flex-start,$direction:column);
        gap:20px;
        margin:10%;
        h2 {
            font-weight: 400;
            text-align: left;
        }
        
        p {
            @include paragraphe($font-size:100%, $font-weight: 400, $line-height: 1.8em);
        }
    
        b {
            @include text-gradient(#71117c,#d6517f);
           font-weight: 400
        }
    
        a {
            font-weight: 600;
            color:#57007b;
        }
        img {
            margin: 0;
        }
    }
    
    .main__articleOne-FlexArrow
    {
        @include flex-center($wrap:no wrap);
        gap: 10px;
        cursor: pointer;
        img {
            margin: 10px;
        }
    }
    
    
    
    
    //section partner
    
    
    
    
    .main__partner-flexTitle {
        @include flex-center(center,$direction:column);
        margin: 0 0 20px 0 ;
        
    }
    
    .main__partner-selector {
        margin-left:80%;
        margin: 0 0 -30px 80%;
        display:none;
    }
    .main__partner-selector:hover {
        opacity:0.7;
        cursor: pointer;
    }
    
    .main__partner-carrousel {
        @include box(100%,200px,$border-size:2px,$border-color:$border_primary_color,$background-color: $background_color_secondary);
        text-align: center;
        overflow-x:scroll;
        //overscroll-behavior-x:auto;
    
        img {
            height: 100px;
            margin:  50px 0 50px -10%;
            text-align: center;
            cursor:pointer;
        }
    }
    
    .main__partner-carrousel::-webkit-scrollbar {
        //display: none;
    }
    
    
    
    //section review 
    
    
    
    
    .main__review-flexOne {
        @include flex-center(flex-end , center,$wrap:no wrap);
        margin: 150px 0 0 0 ;
        height: 400px;
        
    }
    .main__review-flexTitle {
        @include flex-center(center,$direction:column);  
        p {
            @include paragraphe(#718096,$font-size:20px, $font-weight: 400, $line-height: 1.8em);
            text-align: center; 
        }
        
    }
    .main__review-flexCommaLeft {
       margin: 0 10% 300px 0;
    }
    .main__review-flexCommaRight {
        margin: 0 0 0 10%;
        img {
            transform: scaleX(-1);
        }
    }
    .main__review-buttonLeft {
        margin: 0 100px 0 60px;
        cursor: pointer;
        display: none;
    }
    .main__review-buttonRight {
        margin: 0 0 -60px 5%;
        cursor: pointer;
        display: none;
    }
    
    .main__review-flexTwo {
        @include flex-center(center,$wrap: wrap);
        margin:40px 0 0 0;
        overflow-x:scroll;
        
    }
    .main__review-flexCustomer {
        @include flex-center(center,$direction:column);
        margin: 0 20px 0 20px;   
    
        h4 {
            opacity:0.6;
        }
    }
    
    .main__review-stars
        {
            opacity:1;
        }
    
    .main__review-companyHigh {
            opacity:0.6;
            @include paragraphe($font-size:0.9em, $font-weight: 400, $line-height: 0.6em);
        }
    
     .main__review-companyLow {
            opacity:0.25;
            @include paragraphe($font-size:0.9em, $font-weight: 400, $line-height: 0.6em);
     }
    
     .main__review-companyPP {
            opacity:0.6;
            margin-bottom: -20px;
    }
    
    .main__review-flexCustomer--selected {
        @include flex-center(center,$direction:column);
        margin: 0 20px 0 20px; 
        opacity:1;
        .main__review-companyPP {
            opacity:1;
            filter:drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
        }
        h4 {
            color:#57007b;
            @include paragraphe(#57007b,$font-size:1.3em, $font-weight: 700, $line-height: 1em);
    
        }
    
        p {
            @include paragraphe(#000000,$font-size:1em, $font-weight: 500, $line-height: 1em);
            margin-top: -20px;
        }
            
    }
    
    
    //section project
    
    
    .main__project { 
        background-color: $background_color_secondary;
        border-top: solid 1px $border_primary_color;
        margin:120px 0 0 0;
        padding: 0 0 85px 0;
        }
    
    .main__project-flexTitle {
        @include flex-center(center,$direction:column);
        margin: 100px 0 20px 0;
    
    }
    
    .main__project-flexOne {
        @include flex-center(center,$wrap:no wrap,$direction:column);
        
        gap: 100px;
        width: 90%;
        margin: 0 5% 0 5%;
        img {
            width: 100%;
        }
    }
    
    
    .main__project-flexTwo {
        @include flex-center(center,$wrap:no wrap,$justify:space-between,$direction:column);
        border:solid 1px;
        border-color:$border_primary_color;
        background-color: #f1f2ff;
        border-radius: 25px;
        padding-bottom: 5%;
         
       
    }
    .main__project-flexThree {
        @include flex-center(center,$wrap:no wrap,$justify:space-between,$direction:column);
        border:solid 1px;
        border-color:$border_primary_color; 
        border-radius: 25px;
        padding-bottom: 5%;
        background-color: #f0fff7;
        
    }
    .main__project-flexFour {
        @include flex-center(center,$wrap:no wrap,$justify:space-between,$direction:column);
        border:solid 1px;
        border-color:$border_primary_color; 
        border-radius: 25px;
        padding-bottom: 5%; 
        background-color: #fff4f4;
         
    }
    
    .main__project-flexText {
        @include flex-center(center,$direction:column);
        margin-top: 50px;
        h3 {
            @include paragraphe(#2d3748,$font-size:1.8em, $font-weight: 700, $line-height: 1.5em);
            ;
        }
        p {
            @include paragraphe($font-size:1em, $font-weight: 400, $line-height: 1.5em,$color:#4a5568);
            //text-align: center;
        }
    }
    
    .main__project-flexLink {
        @include flex-center(center,center);
        @include text-gradient(#70107c,#db5480);
        margin: 20px 0 0 0;
        font-weight: 650;
        align-self: flex-end;
        margin-top: 40px;  
        img {
            width: 20px;
        }
    }
    
    .main__project-flexLinkTwo {
        @include flex-center(center,center,$wrap:no wrap);
        font-weight: 650;
        margin-top: 40px;  
        font-size: 1.2em;
        gap:15px;  
        img {
            width: 30px;
        }
    }
    
    
    
    //section skill
    
    .main__skill{
        background-color: $background_color_secondary;
        border:solid 1px $border_primary_color;
        padding: 70px 0 0 0;
    }
    
    .main__skill-flexTitle {
        @include flex-center(center,$direction:column);
        p {
            @include paragraphe(#718096,$font-size:1.1em, $font-weight: 400, $line-height: 1.8em);
            text-align: center;
            margin: 50px 0 0 0;
        }
    }   
    
    .main__skill-flexMain {
        @include flex-center(center);
        gap: 30px;
        margin: 50px 0 100px 0;
    }
    
    
    
    .main__skill-flexText {
        @include flex-center(flex-start,$direction:column);
        p {
            @include paragraphe($font-size:15px, $font-weight: 400, $line-height: 1.5em,$color:#4a5568);
        }
        h3 {
            color: $font_color_dark_gray;
            margin:10px 0 0 0;
        }
    }
    
    .main__skill-flexOne {
        @include flex-center(flex-start,center);
        border:solid 1px $border_primary_color; 
        background-color:$font_color_light;
        margin: 0 10%;
        padding: 20px ; 
        img {
            width: 10%;
            height: 10%;
            background-image: url(../images/ux.png);
            padding: 12px;
            background-repeat: no-repeat;
            background-size:contain;
        }
        b {
            font-weight: 400;
            cursor:pointer;
        } 
    }
    
    .main__skill-flexTwo {
        @include flex-center(flex-start,center);
        border:solid 1px $border_primary_color; 
        background-color:$font_color_light;
        margin: 0 10%;
        padding: 20px ; 
        img {
            width: 10%;
            height: 10%;
            background-image: url(../images/ux.png);
            padding: 12px;
            background-repeat: no-repeat;
            background-size:contain;
        }
        b {
            font-weight: 400;
            cursor:pointer;
        } 
        img {
            background-image: url(../images/developing.png);
        }
        b {
            @include text-gradient(#60c6f3,#63ccf3);
        }
    }
    
    .main__skill-flexThree {
        @include flex-center(flex-start,center);
        border:solid 1px $border_primary_color; 
        background-color:$font_color_light;
        margin: 0 10%;
        padding: 20px ; 
        img {
            width: 10%;
            height: 10%;
            background-image: url(../images/ux.png);
            padding: 12px;
            background-repeat: no-repeat;
            background-size:contain;
        }
        b {
            font-weight: 400;
            cursor:pointer;
        } 
        img {
            background-image: url(../images/proven.png);
        }
        b {
            @include text-gradient(#ff7aa9,#ff83aa);
        }
    }
    
    .main__skill-flexFour {
        @include flex-center(flex-start,center);
        border:solid 1px $border_primary_color; 
        background-color:$font_color_light;
        margin: 0 10%;
        padding: 20px ; 
        img {
            width: 10%;
            height: 10%;
            background-image: url(../images/ux.png);
            padding: 12px;
            background-repeat: no-repeat;
            background-size:contain;
        }
        b {
            font-weight: 400;
            cursor:pointer;
        } 
        img {
            background-image: url(../images/security.png);
        }
        b {
            @include text-gradient(#51e8d3,#57e9dc);
        }
    }
    
    .main__skill-flexFive {
        @include flex-center(flex-start,center);
        border:solid 1px $border_primary_color; 
        background-color:$font_color_light;
        margin: 0 10%;
        padding: 20px ; 

        img {
            width: 10%;
            height: 10%;
            background-image: url(../images/ux.png);
            padding: 12px;
            background-repeat: no-repeat;
            background-size:contain;  
        }
        b {
            font-weight: 400;
            cursor:pointer;
        }  
        img {
            background-image: url(../images/code.png);
        }
        b {
            @include text-gradient(#fcd163,#fdd962);
        }
    }
    
    .main__skill-flexSix {
        @include flex-center(flex-start,center);
        border:solid 1px $border_primary_color; 
        background-color:$font_color_light;
        margin: 0 10%;
        padding: 20px ; 
        img {
            width: 10%;
            height: 10%;
            background-image: url(../images/ux.png);
            padding: 12px;
            background-repeat: no-repeat;
            background-size:contain;
            margin: 50px 30px 0 0;
        }
        b {
            font-weight: 400;
            cursor:pointer;
        } 
        img {
            background-image: url(../images/quality.png);
        }
        b {
            @include text-gradient(#c3457f,#d14e7f);
        }
    }
    
    
    
    //section hire
    
    
    
    .main__hire-flexTitle {
        @include flex-center(center,center,$wrap:no wrap);
        @include box(80%,270px,$background-color:#eceff6,$border-radius:25px);
        background: linear-gradient(to top right,#e4ecf7,#f1f1f5);
        margin: 100px 10% 100px 10%;
        h2 {
            @include paragraphe($font-size:20px, $font-weight: 700, $line-height: 1.5em,$color:#29282f);
            text-align: left;
            margin: 0 7%;
        }
    }
    
    .main__hire-flexButton {
        @include flex-center(center,center,$direction:column);
        gap: 25px;
        margin: 0 7%;
    }
    .main__hire-button {
        @include button(5%,20%);
        border: solid 1px white;
        background: linear-gradient(to top right,#f26562,#ffc157);
        cursor: pointer;
        font-weight: 600; 
    }

}
 
