@use '_variables.scss' as *;

%flex-center {
    display:flex;
    align-items: center;
}


@mixin flex-center ($align: center, $justify: center, $direction:normal, $wrap: wrap) {
    display:flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
    flex-wrap: $wrap;
    
}

@mixin box ($width, $height,$border-size: 1px, $border-color: transparent,$border-radius: $border_radius,$background-color:$background_color_primary) {
    width: $width;
    height: $height;
    border:solid $border-size $border-color;
    border-radius:$border-radius;
    background-color: $background-color;
}

@mixin button ($padding-vertical:10px, $padding-horizontal:20px,
 $border-color: transparent,$border-radius: $border_radius,
 $color: $font_color_light, $background-color: $background_color_button) {
    padding:$padding-vertical $padding-horizontal;
    border: $border-color;
    border-radius:$border-radius;
    color:$color;
    background-color:$background-color;
}

@mixin text-gradient($color1:#f7666f, $color2:#406aff,$direction: to top right) {
    background: linear-gradient($direction,$color1,$color2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin paragraphe($color:#718096, $font-size: 1.1em, $font-weight: 300, $line-height: 1.5em) {
        color: $color;
        font-size: $font-size;
        font-weight: $font-weight;
        line-height: $line-height;
} 