
@use '_variables.scss' as *;
@use '_header.scss' as *;
@use '_responsive.scss' as *;
@use '_footer.scss' as *;
@use'_placeholders.scss' as *;

body {
    background-color: $background_color_primary;
    font-family: "Inter" ,sans-serif;
    margin:0;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 300;
    font-size: 4em;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 400;
}

h4 {
    @include  paragraphe($font-size:1em, $font-weight: 500, $line-height: 0.5em);
    text-align: center;
    margin-top: 15px;
}

//section carrouselOne


.main__carrouselOne{
    @include box(100%, 610px,$border_primary_color, $border-radius: 0);
    background-color: $background_color_tertiary;
    margin-top: 250px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
    h2 {
        padding-top: 50px;
    }
 
      
}

.main__carrouselOne-flexOne {
    @include flex-center(normal, center,$wrap:no wrap);
    gap: 20px;
    margin-top: 20px;
}

.main__carrouselOne-flexTwo {
    @include flex-center(flex-start, center,column);
    @include box(333px, 287px,$border-size:2px);
    background-color: #fafafa;
    margin: 10px;
    box-shadow: 0px 0px 27px -8px rgba(0,0,0,0.1);
    padding: 20px;
    cursor:pointer;
    img {
        width: 30px;
        border:solid;
        border-color:rgba(97, 4, 118, 0.498);
        border-radius : 100%;
        border-width: 1.5px;
        padding: 10px; 
        margin-bottom: 10px;   
    }

    p {
        @include paragraphe();
    }

    h3 {
        color:$font_color_dark_gray;
        font-size: 1.4em;
        margin: 20px 0px;
    }
}

.main__carrouselOne-flexTwo--hover {
    background: linear-gradient(white,white)padding-box,
    linear-gradient(to bottom left,#f78566,#5d0887) border-box;
    border-radius: 10px;
    border-width: 2px;
    box-shadow: -1px 9px 25px 7px rgba(0,0,0,0.05);
    margin-top: 50px;
    
    h3 {
        @include text-gradient(#71117c,#d6517f);
    }
    p {
        color: $font_color_dark_gray;
    }
}

.main__carrouselOne-flexSlider {
    @include flex-center(center, space-evenly);
    margin-top: 30px;
}

.main__carrouselOne-node {
    margin: 0 10% 0 33%;   
}



//section articleOne



.main__articleOne {


}

.main__articleOne-flexOne {
    @include flex-center(center,$wrap:no wrap, $justify:space-evenly);
    margin: 200px 0; 
    img:hover {   
        opacity:0.7;
    }  
}

.main__articleOne-flexText {
    @include flex-center(flex-start,$direction:column);
    gap:20px;
    h2 {
        font-weight: 400;
        text-align: left;
    }
    
    p {
        @include paragraphe($font-size:1.1em, $font-weight: 400, $line-height: 1.8em);
    }

    b {
        @include text-gradient(#71117c,#d6517f);
       font-weight: 400
    }

    a {
        font-weight: 600;
        color:#57007b;
    }
}

.main__articleOne-FlexArrow
{
    @include flex-center();
    gap: 10px;
    cursor: pointer;
}




//section partner




.main__partner-flexTitle {
    margin: 0 0 -60px 10% ;
    h2{
        text-align: left;
    }
}

.main__partner-selector {
    margin-left:80%;
    margin: 0 0 -30px 80%
}
.main__partner-selector:hover {
    opacity:0.7;
    cursor: pointer;
}

.main__partner-carrousel {
    @include box(100%,200px,$border-size:2px,$border-color:$border_primary_color,$background-color: $background_color_secondary);
    text-align: center;
    img {
        height: 100px;
        margin:  50px 0 50px -10%;
        text-align: center;
        cursor:pointer;
    }
}



//section review 



.main__review {

}
.main__review-flexOne {
    @include flex-center(flex-end , center);
    margin: 150px 0 0 0 ;
}
.main__review-flexTitle {
    @include flex-center(center,$direction:column);
    p {
        @include paragraphe(#718096,$font-size:1.1em, $font-weight: 400, $line-height: 1.8em);
        text-align: center;
        margin: 50px 0 0 0;
    }
}
.main__review-flexCommaLeft {
   margin: 0 60px 110px 0;
}
.main__review-flexCommaRight {
    margin: 0 0 0 60px;
    img {
        transform: scaleX(-1);
    }
}
.main__review-buttonLeft {
    margin: 0 200px 0 60px;
    cursor: pointer;
}
.main__review-buttonRight {
    margin: 0 0 -60px 180px;
    cursor: pointer;
}

.main__review-flexTwo {
    @include flex-center(center,$wrap:no wrap);
    margin:40px 0 0 0;
    
}
.main__review-flexCustomer {
    @include flex-center(center,$direction:column);
    margin: 0 20px 0 20px;   

    h4 {
        opacity:0.6;
    }
}

.main__review-stars
    {
        opacity:1;
    }

.main__review-companyHigh {
        opacity:0.6;
        @include paragraphe($font-size:0.9em, $font-weight: 400, $line-height: 0.6em);
    }

 .main__review-companyLow {
        opacity:0.25;
        @include paragraphe($font-size:0.9em, $font-weight: 400, $line-height: 0.6em);
 }

 .main__review-companyPP {
        opacity:0.6;
        margin-bottom: -20px;
}

.main__review-flexCustomer--selected {
    @include flex-center(center,$direction:column);
    margin: 0 20px 0 20px; 
    opacity:1;
    .main__review-companyPP {
        opacity:1;
        filter:drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
    }
    h4 {
        color:#57007b;
        @include paragraphe(#57007b,$font-size:1.3em, $font-weight: 700, $line-height: 1em);

    }

    p {
        @include paragraphe(#000000,$font-size:1em, $font-weight: 500, $line-height: 1em);
        margin-top: -20px;
    }
        
}









    
   
